<app-header></app-header>

<div class="pag-banner-area menu-pages-banner-area jarallax" data-jarallax="{&quot;speed&quot;: 0.3}">
    <div class="container">
    <div class="page-banner-content">
    <h1>Category: Mexican Food</h1>
    <ul>
    <li><a href="#">Home</a></li>
    <li>Category</li>
    <li>Mexican Food</li>
    </ul>
    </div>
    </div>
    <div class="page-banner-shape">
    <img src="assets/images/page/page-banner-shape-1.webp" alt="images">
    </div>
    </div>
    
    
    <div class="special-menu-area pt-100 pb-100">
    <div class="container">
    <div class="single-special-menu-content">
    <div class="row">
    <div class="col-lg-6 col-md-6">
    <div class="special-card">
    <div class="row align-items-center">
    <div class="col-lg-3 col-4">
    <div class="special-menu-img">
    <a routerLink="/menu_details">
    <img src="assets/images/menu/menu-page-img-6.webp" alt="images">
    </a>
    </div>
    </div>
    <div class="col-lg-6 col-6">
    <div class="special-menu-text">
    <a routerLink="/menu_details">
    <h3>Cappucino</h3>
    </a>
    <p>1/2 milk, 1/2 espresso, ice, caramel</p>
    </div>
    </div>
    <div class="col-lg-3 col-2">
    <div class="special-menu-number">
    <span>$28</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-6">
    <div class="special-card">
    <div class="row align-items-center">
    <div class="col-lg-3 col-4">
    <div class="special-menu-img">
    <a routerLink="/menu_details">
    <img src="assets/images/menu/menu-page-img-1.webp" alt="images">
    </a>
    </div>
    </div>
    <div class="col-lg-6 col-6">
    <div class="special-menu-text">
    <a routerLink="/menu_details">
    <h3>Vieness Veal Cultech</h3>
    </a>
    <p>Fresh beware coffe</p>
    </div>
    </div>
    <div class="col-lg-3 col-2">
    <div class="special-menu-number">
    <span>$32</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-6">
    <div class="special-card">
    <div class="row align-items-center">
    <div class="col-lg-3 col-4">
    <div class="special-menu-img">
    <a routerLink="/menu_details">
    <img src="assets/images/menu/menu-page-img-2.webp" alt="images">
    </a>
    </div>
    </div>
    <div class="col-lg-6 col-6">
    <div class="special-menu-text">
    <a routerLink="/menu_details">
    <h3>Sea Bass Ceviche</h3>
    </a>
    <p>2/3 streamed milk, 1/3 espresso</p>
    </div>
    </div>
    <div class="col-lg-3 col-2">
    <div class="special-menu-number">
    <span>$32</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-6">
    <div class="special-card">
    <div class="row align-items-center">
    <div class="col-lg-3 col-4">
    <div class="special-menu-img">
    <a routerLink="/menu_details">
    <img src="assets/images/menu/menu-page-img-3.webp" alt="images">
    </a>
    </div>
    </div>
    <div class="col-lg-6 col-6">
    <div class="special-menu-text">
    <a routerLink="/menu_details">
    <h3>Grill Veal Fielt Mignon</h3>
    </a>
    <p>Fresh beware coffe</p>
    </div>
    </div>
    <div class="col-lg-3 col-2">
    <div class="special-menu-number">
    <span>$38</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
<app-footer></app-footer>
