<app-header></app-header>

<div class="pag-banner-area menu-pages-banner-area jarallax" data-jarallax="{&quot;speed&quot;: 0.3}">
    <div class="container">
    <div class="page-banner-content">
    <h1>Portfolio</h1>
    <ul>
    <li><a href="#">Home</a></li>
    <li>Portfolio</li>
    </ul>
    </div>
    </div>
    <div class="page-banner-shape">
    <img src="assets/images/page/page-banner-shape-1.webp" alt="images">
    </div>
    </div>
    
    
    <div class="portfolio-page-area pt-100 pb-100">
    <div class="container">
    <div class="section-title">
    <span class="top-title">Our Portfolio</span>
    <h2>The Divine Feel Of Taste</h2>
    </div>
    <div class="row">
    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="slideInUp">
    <div class="portfolio-two-card">
    <img src="assets/images/portfolio/portfolio-page-img-1.webp" alt="images">
    <div class="portfolio-two-content">
    <a routerLink="/portfolio_details">
    <h3>Chocolate Coffee</h3>
    </a>
    <p>Coffee</p>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="slideInUp">
    <div class="portfolio-two-card">
    <img src="assets/images/portfolio/portfolio-two-img-2.webp" alt="images">
    <div class="portfolio-two-content">
    <a routerLink="/portfolio_details">
    <h3>Chocolate Coffee</h3>
    </a>
    <p>Coffee</p>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="slideInUp">
    <div class="portfolio-two-card">
    <img src="assets/images/portfolio/portfolio-page-img-4.webp" alt="images">
    <div class="portfolio-two-content">
    <a routerLink="/portfolio_details">
    <h3>Chocolate Coffee</h3>
    </a>
    <p>Coffee</p>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="slideInUp">
    <div class="portfolio-two-card">
    <img src="assets/images/portfolio/portfolio-two-img-4.webp" alt="images">
    <div class="portfolio-two-content">
    <a routerLink="/portfolio_details">
    <h3>Chocolate Coffee</h3>
    </a>
    <p>Coffee</p>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="slideInUp">
    <div class="portfolio-two-card">
    <img src="assets/images/portfolio/portfolio-two-img-1.webp" alt="images">
    <div class="portfolio-two-content">
    <a routerLink="/portfolio_details">
    <h3>Chocolate Coffee</h3>
    </a>
    <p>Coffee</p>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="slideInUp">
    <div class="portfolio-two-card">
    <img src="assets/images/portfolio/portfolio-page-img-2.webp" alt="images">
    <div class="portfolio-two-content">
    <a routerLink="/portfolio_details">
    <h3>Chocolate Coffee</h3>
    </a>
    <p>Coffee</p>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="slideInUp">
    <div class="portfolio-two-card">
    <img src="assets/images/portfolio/portfolio-two-img-3.webp" alt="images">
    <div class="portfolio-two-content">
    <a routerLink="/portfolio_details">
    <h3>Chocolate Coffee</h3>
    </a>
    <p>Coffee</p>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="slideInUp">
    <div class="portfolio-two-card">
    <img src="assets/images/portfolio/portfolio-page-img-3.webp" alt="images">
    <div class="portfolio-two-content">
    <a routerLink="/portfolio_details">
    <h3>Chocolate Coffee</h3>
    </a>
    <p>Coffee</p>
    </div>
    </div>
    </div>
    </div>
    <div class="pagination-area">
    <a routerLink="/portfolio_details" class="next page-numbers">
    <i class="bx bx-chevron-left"></i>
    </a>
    <span class="page-numbers current" aria-current="page">01</span>
    <a routerLink="/portfolio" class="page-numbers">02</a>
    <a href="portfolio.html" class="page-numbers">03</a>
    <a href="portfolio.html" class="next page-numbers">
    <i class="bx bx-chevron-right"></i>
    </a>
    </div>
    </div>
    </div>
    
    
    <div class="faqs-buy-one-area pt-100 pb-100">
    <div class="container">
    <div class="row align-items-center">
    <div class="col-lg-8">
    <div class="faqs-buy-content">
    <div class="section-title left-title">
    <h2>Buy One Get Two! Only This Weekends!</h2>
    <p>Pedit quo minus id quod maxime placeat facere possimus omnis voluptas assumenda est orepellendus temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet.</p>
    </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="faqs-buy-btn">
    <a routerLink="/about" class="default-btn">Discover More</a>
    </div>
    </div>
    </div>
    </div>
    <div class="faqs-buy-shape-1">
    <img src="assets/images/faqs-shape-1.webp" alt="images">
    </div>
    <div class="faqs-buy-shape-2">
    <img src="assets/images/faqs-shape-2.webp" alt="images">
    </div>
    </div>

<app-footer></app-footer>