
<app-header></app-header>
<div class="pag-banner-area portfolio-pages-area jarallax" data-jarallax="{&quot;speed&quot;: 0.3}">
    <div class="container">
    <div class="page-banner-content">
    <h1>Portfolio Details</h1>
    <ul>
    <li><a href="index.html">Home</a></li>
    <li>Portfolio Details</li>
    </ul>
    </div>
    </div>
    <div class="page-banner-shape">
    <img src="assets/images/page/page-banner-shape-1.webp" alt="images">
    </div>
    </div>
    
    
    <div class="portfolio-details-area pt-100 pb-70">
    <div class="container">
    <div class="row">
    <div class="col-lg-8">
    <div class="single-portfolio-details-content">
    <div class="portfolio-details-img">
    <img src="assets/images/portfolio/portfolio-details-img-1.webp" alt="images">
    <h2>Use Always Quality Products For Your Dishes</h2>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
    atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident similique sunt in culpai officia deserunt mollitia animi id est laborum et dolorum fuga et harum quidem rerum.</p>
    <p>Facilis est et expedita distinctio nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis voluptas assumenda est.</p>
    </div>
    <h4>Some Services Information</h4>
    <p>Blinded by desire that they cannot foresee the pain and trouble that are bound to ensue and equal blame belongs to those who fail in their duty through weakness of will which is the same as saying through.</p>
    <div class="row justify-content-center">
    <div class="col-lg-4 col-sm-6 col-md-4" data-aos="slideInUp">
    <div class="single-features-card portfolio-details-card">
    <div class="features-img">
    <img src="assets/images/features/features-1.webp" alt="images">
    <div class="features-img-2">
    <img src="assets/images/features/features-4.webp" alt="images">
    </div>
    </div>
    <h3>Great Americano</h3>
    <p>All the lorem ipsum generators t tend to repeat predefined.</p>
    </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-md-4" data-aos="slideInUp">
    <div class="single-features-card portfolio-details-card">
    <div class="features-img">
    <img src="assets/images/features/features-2.webp" alt="images">
    <div class="features-img-2">
    <img src="assets/images/features/features-5.webp" alt="images">
    </div>
    </div>
    <h3>Delicious Latte</h3>
    <p>All the lorem ipsum generators t tend to repeat predefined.</p>
    </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-md-4" data-aos="slideInUp">
    <div class="single-features-card portfolio-details-card">
    <div class="features-img">
    <img src="assets/images/features/features-3.webp" alt="images">
    <div class="features-img-2">
    <img src="assets/images/features/features-6.webp" alt="images">
    </div>
    </div>
    <h3>Best Mocha</h3>
    <p>All the lorem ipsum generators t tend to repeat predefined.</p>
    </div>
    </div>
    </div>
    <h4>Summary Results</h4>
    <p>Duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam amet porttitor eget dolor morbi. Euismod nisi porta lorem mollis aliquam erat nam at lectus urna mauris a diam maecenas sed eniuis commodo.</p>
    <ul>
    <li>
    <span></span>In aliquam sem fringilla ut morbi tincidunt. Convallis a cras semper auctor neque vitae tempus quam.
    </li>
    <li>
    <span></span>Odio morbi quis commodo odio aenean sed adipiscing diam donec. Aliquam nulla facilisi cras fermentum odio.
    </li>
    <li>
    <span></span>Dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Amet nisl purus in mollis nunc sed id semper risus.
    </li>
    </ul>
    <div class="d-flex justify-content-between align-items-center">
    <div class="portfolio-details-list">
    <ul>
    <li>Share : </li>
    <li>
    <a href="https://www.facebook.com/" target="_blank">
    <i class="bx bxl-facebook"></i>
    </a>
    </li>
    <li>
    <a href="https://twitter.com/" target="_blank">
    <i class="bx bxl-twitter"></i>
    </a>
    </li>
    <li>
    <a href="https://www.linkedin.com/" target="_blank">
    <i class="bx bxl-linkedin"></i>
    </a>
    </li>
    <li>
    <a href="https://www.instagram.com/" target="_blank">
    <i class="bx bxl-instagram"></i>
    </a>
    </li>
    </ul>
    </div>
    <div class="portfolio-details-list-two">
    <ul>
    <li>
    <a href="#">Food</a>
    </li>
    <li>
    <a href="#">Recipes</a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="carbonara-pasta-card">
    <h2>Carbonara Pasta</h2>
    <p>It is a long established fact that a distracted by the readable content of a page when.</p>
    <ul>
    <li><span>Client</span>Nik Morison</li>
    <li><span>Category</span>Pasta</li>
    <li><span>Tags</span>Food,Lifestyle,Vincent</li>
    <li><span>Date</span>February 28,2024</li>
    <li><span>Website</span>ruzo.peacefulqode.com</li>
    </ul>
    </div>
    </div>
    </div>
    <div class="related-projects">
    <h4>Related Projects</h4>
    <div class="row">
    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="slideInUp">
    <div class="portfolio-two-card">
    <img src="assets/images/portfolio/portfolio-page-img-1.webp" alt="images">
    <div class="portfolio-two-content">
    <a href="portfolio-details.html">
    <h3>Chocolate Coffee</h3>
    </a>
    <p>Coffee</p>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="slideInUp">
    <div class="portfolio-two-card">
    <img src="assets/images/portfolio/portfolio-two-img-2.webp" alt="images">
    <div class="portfolio-two-content">
    <a href="portfolio-details.html">
    <h3>Chocolate Coffee</h3>
    </a>
    <p>Coffee</p>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="slideInUp">
    <div class="portfolio-two-card">
    <img src="assets/images/portfolio/portfolio-page-img-4.webp" alt="images">
    <div class="portfolio-two-content">
    <a href="portfolio-details.html">
    <h3>Chocolate Coffee</h3>
    </a>
    <p>Coffee</p>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="slideInUp">
    <div class="portfolio-two-card">
    <img src="assets/images/portfolio/portfolio-two-img-4.webp" alt="images">
    <div class="portfolio-two-content">
    <a href="portfolio-details.html">
    <h3>Chocolate Coffee</h3>
    </a>
    <p>Coffee</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="faqs-buy-one-area pt-100 pb-100">
    <div class="container">
    <div class="row align-items-center">
    <div class="col-lg-8">
    <div class="faqs-buy-content">
    <div class="section-title left-title">
    <h2>Buy One Get Two! Only This Weekends!</h2>
    <p>Pedit quo minus id quod maxime placeat facere possimus omnis voluptas assumenda est orepellendus temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet.</p>
    </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="faqs-buy-btn">
    <a routerLink="/about" class="default-btn">Discover More</a>
    </div>
    </div>
    </div>
    </div>
    <div class="faqs-buy-shape-1">
    <img src="assets/images/faqs-shape-1.webp" alt="images">
    </div>
    <div class="faqs-buy-shape-2">
    <img src="assets/images/faqs-shape-2.webp" alt="images">
    </div>
    </div>
<app-footer></app-footer>






