<app-header></app-header>
<div class="pag-banner-area menu-pages-banner-area jarallax" data-jarallax="{&quot;speed&quot;: 0.3}">
    <div class="container">
    <div class="page-banner-content">
    <h1>Menu Details</h1>
    <ul>
    <li><a href="index.html">Home</a></li>
    <li>Menu Details</li>
    </ul>
    </div>
    </div>
    <div class="page-banner-shape">
    <img src="assets/images/page/page-banner-shape-1.webp" alt="images">
    </div>
    </div>
    
    
    <div class="menu-details-area pt-100 pb-70">
    <div class="container">
    <div class="row">
    <div class="col-lg-8">
    <div class="menu-details">
    <div class="row align-items-center">
    <div class="col-lg-6 col-md-6">
    <div class="mrnu-details-img">
    <img src="assets/images/menu/menu-details-img-1.webp" alt="images">
    </div>
    </div>
    <div class="col-lg-6 col-md-6">
    <div class="single-menu-details-contant shop-single-text">
    <h2>Viennese Veal Cutlet</h2>
    <ul class="shop-star">
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <span>(2 customer reviews)</span>
    </li>
    </ul>
    <span class="details-two">$76.00</span>
    <p>It is a long-established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
    <ul class="quantity-list">
    <li>
    <div class="pass-quantity">
    <div class="input-counter">
    <span class="minus-btn">
    <i class="bx bx-minus"></i>
    </span>
    <input type="text" value="1">
    <span class="plus-btn">
    <i class="bx bx-plus"></i>
    </span>
    </div>
    </div>
    </li>
    <li>
    <button type="submit" class="default-btn">Add To Cart</button>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <div class="menu-details-tab">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Description</button>
    </li>
    <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Additional Information</button>
    </li>
    <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Reviews (2)</button>
    </li>
    </ul>
    <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <div class="single-shop-text">
    <p>Here are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form by injected humor or randomized words which don't look even slightly believable.</p>
    <p>If you are going to use a passage of lorem ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of the text all the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary making this the first true generator on the Internet it uses a dictionary.</p>
    </div>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <div class="additional-information">
    <ul class="information">
    <li>
    <span>Brand:</span> ThemeForest
    </li>
    <li>
    <span>Color:</span> white
    </li>
    <li>
    <span>Size:</span> Amaranth, Medium
    </li>
    <li>
    <span>Weight:</span> 46 kg
    </li>
    <li>
    <span>Dimensions:</span> 25 x 30 x 186 cm
    </li>
    </ul>
    </div>
    </div>
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
    <div class="blog-details-from">
    <div class="single-comment">
    <div class="single-shop-details-contant">
    <img src="assets/images/testimonials/testimonials-3.webp" alt="images">
    <h3>Runing Shoes</h3>
    <span>30 September 2022</span>
    <div class="single-menus-list">
    <ul>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    </ul>
    </div>
    <p>Very well built theme couldn't be happier with it can't wait for future updates to see what else they.</p>
    <div class="reply-btn">
    <button type="submit" class="default-btn">Reply</button>
    </div>
    </div>
    <div class="single-shop-details-contant">
    <img src="assets/images/testimonials/testimonials-4.webp" alt="images">
    <h3>Angie O. Plasty</h3>
    <span>28 September 2022</span>
    <div class="single-menus-list">
    <ul>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    </ul>
    </div>
    <p>Very well built theme, couldn't be happier with it. Can't wait for future updates to see what else they.</p>
    <div class="reply-btn">
    <button type="submit" class="default-btn">Reply</button>
    </div>
    </div>
    </div>
    <form>
    <h2>Add a review</h2>
    <p>Your email address will not be published required fields are marked.</p>
    <div class="row">
    <div class="col-lg-6">
    <div class="details-from">
    <input type="text" class="form-control" placeholder="Name">
    </div>
    </div>
    <div class="col-lg-6">
    <div class="details-from">
    <input type="email" class="form-control" placeholder="Email">
    </div>
    </div>
    <div class="col-lg-12">
    <div class="details-from">
    <textarea class="form-control" placeholder="Your review" rows="5"></textarea>
    </div>
    </div>
    <div class="col-lg-12">
    <div class="form-check">
    <input class="form-check-input" type="checkbox" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
    Save my name, email, and website in this browser for the next time i comment.
    </label>
    </div>
    </div>
    <div class="col-lg-6">
    <button type="submit" class="default-btn">Submit Now<span></span></button>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    <div class="popular-menu-details">
    <h2>Popular Menu</h2>
    <div class="popular-menu-details-slider owl-carousel owl-theme">
    <div class="single-popular-menu-details">
    <div class="menu-details-img">
    <img src="assets/images/menu/menu-details-1.webp" alt="images">
    </div>
    <div class="single-popular-contant">
    <div class="d-flex justify-content-between align-items-center">
    <a href="menu-details.html"><h3>Chicken Meal</h3></a>
    <span>
    <ul>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    </ul>
    </span>
    </div>
    <span>Food Type : Chicken Stack</span>
    <p>Delivery Time : 60 min, Delivery Cost : Free</p>
    <div class="d-flex justify-content-between align-items-center">
    <a href="menu-details.html" class="default-btn">Order Now<span></span></a>
    <span class="dolar">$45.00</span>
    </div>
    </div>
    </div>
    <div class="single-popular-menu-details">
    <div class="menu-details-img">
    <img src="assets/images/menu/menu-details-2.webp" alt="images">
    </div>
    <div class="single-popular-contant">
    <div class="d-flex justify-content-between align-items-center">
    <a href="menu-details.html"><h3>Marmaid Chicken Fryl</h3></a>
    <span>
    <ul>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    </ul>
    </span>
    </div>
    <span>Food Type : Chicken Stack</span>
    <p>Delivery Time : 60 min, Delivery Cost : Free</p>
    <div class="d-flex justify-content-between align-items-center">
    <a href="menu-details.html" class="default-btn">Order Now<span></span></a>
    <span class="dolar">$55.00</span>
    </div>
    </div>
    </div>
    <div class="single-popular-menu-details">
    <div class="menu-details-img">
    <img src="assets/images/menu/menu-details-1.webp" alt="images">
    </div>
    <div class="single-popular-contant">
    <div class="d-flex justify-content-between align-items-center">
    <a href="menu-details.html"><h3>Chicken Meal</h3></a>
    <span>
    <ul>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    </ul>
    </span>
    </div>
    <span>Food Type : Chicken Stack</span>
    <p>Delivery Time : 60 min, Delivery Cost : Free</p>
    <div class="d-flex justify-content-between align-items-center">
    <a href="menu-details.html" class="default-btn">Order Now<span></span></a>
    <span class="dolar">$45.00</span>
    </div>
    </div>
    </div>
    <div class="single-popular-menu-details">
    <div class="menu-details-img">
    <img src="assets/images/menu/menu-details-2.webp" alt="images">
    </div>
    <div class="single-popular-contant">
    <div class="d-flex justify-content-between align-items-center">
    <a href="menu-details.html"><h3>Marmaid Chicken Fryl</h3></a>
    <span>
    <ul>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    <li>
    <i class="bx bxs-star"></i>
    </li>
    </ul>
    </span>
    </div>
    <span>Food Type : Chicken Stack</span>
    <p>Delivery Time : 60 min, Delivery Cost : Free</p>
    <div class="d-flex justify-content-between align-items-center">
    <a href="menu-details.html" class="default-btn">Order Now<span></span></a>
    <span class="dolar">$55.00</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-4">
    <aside class="widget-area">
    <div class="widget widget_search">
    <form class="search-form">
    <input type="search" class="search-field" placeholder="Search...">
    <button type="submit" class="default-btn"><i class="bx bx-search"></i></button>
    </form>
    </div>
    <div class="category-content">
    <h2>Category</h2>
    <ul class="details-list">
    <li>
    <a routerLink="/menu_category">Mexican Food<i class="bx bx-right-arrow-circle"></i></a>
    </li>
    <li>
    <a routerLink="/menu_category">Pizza<i class="bx bx-right-arrow-circle"></i></a>
    </li>
    <li>
    <a routerLink="/menu_category">Food & Beverage<i class="bx bx-right-arrow-circle"></i></a>
    </li>
    <li>
    <a routerLink="/menu_category">Chicken Fired<i class="bx bx-right-arrow-circle"></i></a>
    </li>
    <li>
    <a routerLink="/menu_category">Juice<i class="bx bx-right-arrow-circle"></i></a>
    </li>
    <li>
    <a routerLink="/menu_category">Coffee<i class="bx bx-right-arrow-circle"></i></a>
    </li>
    <li>
    <a routerLink="/menu_category">Beef Roast<i class="bx bx-right-arrow-circle"></i></a>
    </li>
    </ul>
    </div>
    <div class="widget widget_ruzo_posts_thumb">
    <h3 class="widget-title">Recent Posts</h3>
    <article class="item">
    <a href="blog-details.html" class="thumb">
    <span class="fullimage cover bg1" role="img"></span>
    </a>
    <div class="info">
    <span>24 September 2022</span>
    <h4 class="title usmall">
    <a href="blog-details.html">A Breakdown Of The Full English
    Breakfast</a>
    </h4>
    </div>
    </article>
    <article class="item">
    <a href="blog-details.html" class="thumb">
    <span class="fullimage cover bg2" role="img"></span>
    </a>
    <div class="info">
    <span>26 September 2022</span>
    <h4 class="title usmall">
    <a href="blog-details.html">The Most Tasty Spicy Chicken We’ve Ever Made</a>
    </h4>
    </div>
    </article>
    <article class="item">
    <a href="blog-details.html" class="thumb">
    <span class="fullimage cover bg3" role="img"></span>
    </a>
    <div class="info">
    <span>27 September 2022</span>
    <h4 class="title usmall">
    <a href="blog-details.html">Ten Filled Chicken Grill Ideas Must
    Try This Is Delicious Food</a>
    </h4>
    </div>
    </article>
    </div>
    </aside>
    </div>
    </div>
    </div>
    </div>
<app-footer></app-footer>
